<% if logged_in? %>
	<h1>Random 5 Cocktails</h1>
  <div class="row">
    <%= render 'random_cocktails', cocktails: @cocktails %>
  </div>
<% else %>
	<div class="center jumbotron">
	  <div class="text-center">
	    <h1>Make your Cocktails</h1>
	    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
	  </div>
	</div>
<% end %>